{% extends "layout.html" %}

{% block content %}
    <div class="container">
        <h1 class="logo">
            <i class="fa fa-rocket" aria-hidden="true"></i>
            poptart
        </h1>

        <div class="row">
            <div class="col s12 m9">
                <div class="card-panel light blue" style="width: 150%:">
                    <div class="row">
                        <div class="torrent-progress">
                            <div class="progress">
                                <div class="determinate purple" style="width: 80%"></div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col s12 m8 torrent-info">
                            <p>filename: google.rpm</p>
                        </div>
                        <div class="col s12 m4">
                           <a class="red btn" >x</a>
                           <a class="green btn" > <i class="fa fa-cloud-download" aria-hidden="true" ></i></a>
                            </table> 
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="add-button">
            <a class="waves-effect waves-light btn">Add Torrent Link</a>
        </div>
    </div>
{% endblock %}
