{% extends "layout.html" %}

{% block content %}
<div class="container ng-root" ng-controller="IndexCtrl">
    <h1 class="logo">
        <i class="fa fa-rocket" aria-hidden="true"></i>
        poptart
    </h1>

    <div class="loading-torrent right">
        <div class="preloader-wrapper big active" ng-show="state.showLoader">
            <div class="spinner-layer spinner-blue-only">
                <div class="circle-clipper left">
                    <div class="circle"></div>
                </div>
                <div class="gap-patch">
                    <div class="circle"></div>
                </div>
                <div class="circle-clipper right">
                    <div class="circle"></div>
                </div>
            </div>
        </div>
    </div>

    <div class="row torrents">
        <div ng-show="torrents == {}">
            <h3 class="grey-text lighten-3">No torrents currently added.</h3>
        </div>
    </div>

    <div class="add-button">
        <a class="waves-effect waves-light btn" href="#add-torrent" >Add Torrent Link</a>
    </div>

    <div id="add-torrent" class="modal">
        <div class="modal-content">
            <h4>Add a magnet</h4>
            <input id="magnet-name" placeholder="magnet name" type="text" name="magnet-name">
            <input id="magnet-link" type="text" placeholder="magnet URI" name="magnet-link">
        </div>
        <div class="modal-footer" >
            <a href="#" ng-click="submitMagnet()" class="modal-action modal-close waves-effect waves-green btn-flat">Submit</a>
        </div>
    </div>
    <div class="files" id="files">
    </div>
    <!-- <div class="speeds" id="speeds"> 
        <p>Download Speed: <span class="dl-speed">0.0</span></p>
    </div> -->
</div>
{% endblock %}

{% block js %}
<script>
    var existingTorrents = JSON.parse('{{ torrents | safe }}')
</script>

<script src="/static/js/IndexCtrl.js"></script>
{% endblock %}
