<!DOCTYPE html>
<html lang="en">
    <head>
        <title>poptart</title>
        <link rel="stylesheet" media="screen" href="/static/css/main.css">
        <link rel="shortcut icon" type="image/png" href="/static/img/favicon.png">
        <link rel="stylesheet" media="screen" href="/static/css/materialize.min.css">
        <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    </head>

    <body ng-app="poptart">
        {% block content %}
        {% endblock %}

        <script src="/static/js/angular.min.js"></script>
        <script src="/static/js/base.js"></script>
        {% block js %}
        {% endblock %}
    </body>
</html>
