@import url('https://fonts.googleapis.com/css?family=Pacifico');

.logo {
	font-family: 'Pacifico', cursive;
}

.buttons { 
	width: 100%;
	border-collapse: collapse;
	background-color: red; 
}

.green.btn, .red.btn, .orange.btn {
	margin-left: 3px;
	margin-right: 3px;

}

.torrent-info {
	font-size: 20px;
	color: white;
}

.pause-button {
	color:	#FF7F50;
}

.row{
	color: white;
}