<div class="row">
    <div class="col s12 m6">
        <div class="card-panel blue">
            <div class="row">
                <div class="torrent-progress">
                    <div class="progress">
                        <div class="determinate purple"></div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col s12 m5">
                    <p>{{ torrentName }}</p>
                </div>
                <div class="speed">
                	<p></p>
                </div>
                <div class="col s12 m7">
                    <a class="green btn" ng-click="getFiles('{{torrentId}}')">
                        <i class="fa fa-download"></i>
                    </a>
                    <a class="red btn" ng-click="deleteTorrent('{{torrentId}}')">
                        <i class="fa fa-trash"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="col s12 m6">
        <div class="card-panel pink">
            <div class="row">
            	<div class="col s12 m8">
	                <div class="dl-speeds">
	        			<p>Download Speed: <span class="dl-speed">0.0</span></p>
	    			</div>
	                <div class="up-speeds">
	        			<p>Upload Speed: <span class="up-speed">0.0</span></p>
	    			</div>
	    		</div>
            </div>
        </div>
    </div>
</div>
